header.container(role="banner")
  h1: a(href="/", title="Home") Cologne.js
  h2 Welcome to Cologne’s JavaScript user group
  - var matches = filename.match(/^\/(.+\/)*(.+)\.(.+)$/);
  - var view = (matches && matches[2]) ? matches[2] : undefined
  nav
    ul
      li
        - if (view === 'index')
          strong Home
        - else
          a(href="/") Home
      li
        - if (view === 'about')
          strong About
        - else
          a(href="/about") About
      li
        - if (view === 'talks' && selectedYear)
          strong Talks
          ul
            each year in years
              - if (year == selectedYear)
                li: strong #{year}
              - else
                li: a(href="/talks/#{year}") #{year}
        - else
          a(href="/talks/") Talks