section.talk-list(role="main")
  h3 About
  p A brief description of each event (welcome, talks, beer.js)
  p Link to weareallaweso.me to potential speakers
  p Photos?
  p "Getting there" instructions: Parking space, train/bus connections
