extends layout
block content
  section(role="main")
    h1 About PragueJS

    h3 Meetings
    p
    | If you want to talk to people before the talks start, get there at 17:45.
    | The first talk then starts at 18:00. We aim for talks with Q&A afterwards. We also have open discussion that can take a while longer.
    | We are very open to any ideas and forms of meetups. You can talk for as long you want about almost everything. Just come and talk to us.

    h3 Speakers
    p
    | We're looking for two talks every month, and while some speakers come back, new speakers are always needed and welcome.
    | In general a small meetup like this is a great way to get started with doing conference talks.
    | If you're looking for some resources on getting started with public speaking, check out <a href="http://weareallaweso.me/">weareallaweso.me</a>
    p
    | If you can speak at meetup, send email to <a href="mailto:ladislav@prskavec.net?subject=praguejs">administrator</a> and write topic and short description.

    h3 Sponsors
    p
    | If you are interested in supporting the Czech Javascript Meetup as a sponsor or a partner contact <a href="mailto:ladislav.prskavec@gmail.com?subject=praguejs">Ladislav Prskavec</a>.
    p
    |We need sponsors to help us bring the best JavaScript speakers to Prague. We would also appreciate help producing videos from meetups and more.

    h3 Meetup, Srazy.info, Google and Facebook
    p
    | We have <a href="https://www.facebook.com/groups/123334754348651/">Facebook group</a> mainly in czech.
    p
    | Information about events are posted to <a href="http://srazy.info/js-meetup/">Srazy.info</a>.

    h3 Location
    p
    | Somewhere in Prague. Look at Venue at <a href="https://www.praguejs.cz/#venue">main page</a>.
