extends layout

block content
  .container(role="main")
    h2 About Cologne.js

    .grid-row
      .grid-1-2
        :markdown
          ### Meetings
          
          The coworking space "Bottfabrik" is open all day. If you want to talk to people before the talks start, get there at 19:00.

          The first talk then starts at 19:30. We aim for 20 minute talks, with Q&A afterwards. We also have open discussion that can take a while longer.

      .grid-1-2
        :markdown
          ### Speakers
          
          We're looking for two talks every month, and while some speakers come back, new speakers are always needed and welcome.
          
          In general a small meetup like this is a great way to get started with doing conference talks.
          
          If you're looking for some resources on getting started with public speaking, check out <a href="http://weareallaweso.me/">weareallaweso.me</a>
