extends layout

block content
  .container(role="main")
    h2 Help wanted

    .grid-row
      .grid-2-3(style="font-size:1.1em")
        h3 We're looking for a co-organizer for Cologne.js
        div(style="font-size:1.1em")
          p 
            strong After organizing Cologne.js for over three years, Frederic decided to step aside to focus on other tasks in the future. Now we're looking for one or two reliable persons, who like to help us running our user-group.

          p It's not that hard to organize the meetup, and you won't have to do it alone. But someone has to take care of all the little things necessary to have a great JavaScript meetup.

        h3 What needs to be done to run Cologne.js?

        h4 Before the event
        div(style="font-size:1.1em")
          p First and foremost, ask people (and keep nagging them a bit ;)) to give talks. What could be an interesting topic in the JavaScript world, that people might like to hear about? Ask on your social media stream, your colleagues or other developers you might know. Everyone has something interesting to share: A new tool or library, you started to look into, something that helped you during your latest project, an open source project you contribute to – there are many little things that might help other developers. Advertise those talks on our website and on Twitter, reach out to the community.

        h4 During the meetup
        div(style="font-size:1.1em")
          p Before the meetup starts when people are starting to show up, say hello and make them feel welcome. Beer's in the fridge and the projector is set up? Cool. Give everyone time to find a seat and grab a drink, than start the meetup by greeting everybody and giving a short introduction about the speaker and his talk (don't worry, you don't have to be a stage person – actually, the speaker is the focus of the evening).

          p After the talk, there's time for questions. Keep an eye on the time, so that discussions don't go too much into nit-picking details and other people get bored. There's always enough time to have individual questions after the talks.

          p Let everybody have a short break (about 10 to 15 minutes) to chat and for the next speaker to setup. Again, watch the time a bit and get everybody back for the second presentation of the evening.

          p After the last talk, thank the speakers for their contribution. And then it's time for everybody to grab another drink, have a nice chat and enjoy the rest of the evening.
          

      .grid-1-3
        div(style="margin:20px 10px 0;padding:10px;background-color:#dedede;font-size:1.2em")
          h5(style="margin:0 0 10px") Do you want to be part of the Cologne.js team?
          :markdown

            Please get in touch with Jörn or Michael on [Twitter](http://twitter.com/cgnjs) or catch us via [email](&#x006D;&#x0061;&#x0069;&#x006C;&#x0074;&#x006F;&#x003A;org&#x0040;colognejs.de).
