header
  h1= title
  p Welcome to #{title} – Javascript Meetup

article
  h2 Next Meetup - 8th of February 2011
  p Doors open at 19:00. Talk starts at 19:30. 

  ul
    li Webtest Frameworks Overview. From Selenium over Watij to Zombie.js. - 
      a(href: 'http://twitter.com/bassistance' ) Jörn Zaefferer
    li Turn your browser into an Apple Remote with Arduino - 
      a(href: 'http://http://maik-schmidt.de/' ) Maik Schmidt

  p Also have a look at the&nbsp;
    a(href: 'http://github.com/luebken/Cologne.js/wiki/Talks') proposed talks
    | &nbsp;on the GitHub wiki and add yours.

  h2 Location
  address
    a(href: 'http://coworkingcologne.posterous.com/') Cowoco
    br
    | Deutz-Mülheimer Straße 129
    br
    | 51063 Köln

  h2 Links
  ul
    li
      a(href: 'http://groups.google.com/group/cgnjs') Google Group
    li
      a(href: 'http://twitter.com/cgnjs') Twitter

footer Built with&nbsp;
  a(href: 'http://nodejs.org') Node
  | &nbsp;and
  a(href: 'http://expressjs.com') Express
  | &nbsp;and hosted on
  a(href: 'http://heroku.com') Heroku
  a(href: 'http://github.com/teemow/Cologne.js')
    img(id: 'fork', src: 'http://s3.amazonaws.com/github/ribbons/forkme_right_orange_ff7600.png', alt: 'Fork me on GitHub')

