header
	h1= title
	p Welcome to #{title} – Javascript Meetup

article
	h2 Next Meetup 2011.08 - 9th of August 2011
	h3 Special: Clojure night
	p The JavaScript community is very openminded with lots of different backgrounds. We want to leverage this knowledge and look over the Tellerrand. At this evening we are going to look at 
		a(href= 'http://clojure.org/') Clojure
		| . Clojure is Lisp dialect that runs on the JVM. It has created quite some buzz in the last couple of years and with its current sibling 
		a(href= 'https://github.com/clojure/clojurescript') ClojureScript
		|  it gets even more interesting to our community since it compiles down to JavaScript. 
	p We are going to have two introductory talks from Clojure experts.  Don't miss it!

	p Doors open at 19:00. Talk starts at 19:30. 


	p Also have a look at the&nbsp;
		a(href= 'https://github.com/teemow/Cologne.js/wiki/Talks') proposed talks
		| &nbsp;on the GitHub wiki and add yours.

	h2 Location
	address
		a(href= 'http://coworkingcologne.posterous.com/') Cowoco
		br
		| Deutz-Mülheimer Straße 129
		br
		| 51063 Köln

	h2 Discuss!
	ul
		li
			a(href= 'https//groups.google.com/group/cgnjs') Mailing List / Google Group
		li
			a(href= 'http://twitter.com/cgnjs') Twitter
	
	h2 Upcoming meetups 
		a(href= 'https://www.google.com/calendar/ical/podoldti665gcdmmt7u72v62fc%40group.calendar.google.com/public/basic.ics') (ical)
	ul
		- dates.forEach(function(date){
			li= date.summary + " - " + date.datestr
		- })

footer Built with&nbsp;
	a(href= 'http://nodejs.org') Node #{nodeversion}
	| &nbsp;and
	a(href= 'http://expressjs.com') Express
	a(href= 'http://github.com/teemow/Cologne.js')
		img(id= 'fork', src= 'http://s3.amazonaws.com/github/ribbons/forkme_right_orange_ff7600.png', alt: 'Fork me on GitHub')

