header
  h1= title
  p Welcome to #{title} – Javascript Meetup

article
  h2 Next Meetup 2011.04 - 12th of April 2011
  p Doors open at 19:00. Talk starts at 19:30. 

  ul
    li Dark Patterns - Enes Fazli
    li Diskussion zu Asynchronen Patterns in JavaScript - Moderator:Norbert Hartl

  p Also have a look at the&nbsp;
    a(href: 'https://github.com/teemow/Cologne.js/wiki/Talks') proposed talks
    | &nbsp;on the GitHub wiki and add yours.

  h2 Location
  address
    a(href: 'http://coworkingcologne.posterous.com/') Cowoco
    br
    | Deutz-Mülheimer Straße 129
    br
    | 51063 Köln

  h2 Discuss!
  ul
    li
      a(href: 'http://groups.google.com/group/cgnjs') Mailing List / Google Group
    li
      a(href: 'http://twitter.com/cgnjs') Twitter
  
  h2 Upcoming meetups
  ul
    - dates.forEach(function(date){
      li= date.summary + " - " + date.datestr
    - })

footer Built with&nbsp;
  a(href: 'http://nodejs.org') Node #{nodeversion}
  | &nbsp;and
  a(href: 'http://expressjs.com') Express
  a(href: 'http://github.com/teemow/Cologne.js')
    img(id: 'fork', src: 'http://s3.amazonaws.com/github/ribbons/forkme_right_orange_ff7600.png', alt: 'Fork me on GitHub')

