header(role="banner")
  hgroup
    h1
      span Cologne
      span.logo .js
    h2 Welcome to Cologne.js JavaScript meet-up


section(role="main")
  .next-meetup
    - var nextDate = (events[0] && events[0].date) ? events[0].date : "(couldn't retrieve calendar data)"
    h1 Next Meetup: !{nextDate}
    | Doors open at 19:00. Talk starts at 19:30:

  .grid-row
    - if (events[0] && events[0].talk1)
      - var talk = events[0].talk1
      include includes/index/slot-taken
    - else
      include includes/index/slot-open

    - if (events[0] && events[0].talk2)
      - var talk = events[0].talk2
      include includes/index/slot-taken
    - else
      include includes/index/slot-open

    article(class="grid-1-3 slot-beerjs")
      h1 beer.js
      p After our talks, stay around, have a drink and chat with the people.


aside.grid-row(role="complementary")
  .grid-1-3
    h3 Come over, bring friends
    p
      | <a href="http://maps.google.de/maps/place?q=Gasmotorenfabrik,+Deutz-M%C3%BClheimer+Stra%C3%9Fe+129,+51063+K%C3%B6ln">Coworking Cologne</a><br/>
      | Gasmotorenfabrik, 3. Etage <br/>
      | Deutz-Mülheimer Straße 129 <br/>
      | 51063 Köln

  .grid-1-3
    h3 Got a question?
    p
      | Cologne.js is organized by <a href="https://twitter.com/bassistance">Jörn Zaefferer</a> &amp;
      | <a href="https://twitter.com/fhemberger">Frederic Hemberger</a>.
    p
      | You can catch us on <a href="http://twitter.com/cgnjs">Twitter</a> or our
      | <a href="http://groups.google.com/group/cgnjs">Mailinglist</a>.

  .grid-1-3
    h3 You want more?
    p
      - if (events[1] && events[1].date && events[2] && events[2].date)
        span Our follow-up meetups will be on <strong>#{events[1].date}</strong> and <strong>#{events[2].date}</strong>.
      | To be sure, you don't miss out, <a href="/colognejs.ics">subscribe to our calendar</a>!
    p
      | You should also <a href="https://github.com/cologne-js/cologne-js/wiki/Talks">browse our talks so far</a>
      | and get in touch with the speakers.
