header
  h1= title
  p Welcome to #{title} – Javascript Meetup

article
  h2 Next Meetup – 12th of September 2010
  p Doors open at 19:00. Talks start at 19:30.

  p Have a look at the&nbsp;
    a(href: 'http://groups.google.com/group/cgnjs/web/themen-august-2010') proposed talks
    |  in the Google Group.

  h2 Location
  address
    a(href: 'http://coworkingcologne.posterous.com/') Cowoco
    br
    | Deutz-Mülheimer Straße 129
    br
    | 51063 Köln

  h2 Links
  ul
    li
      a(href: 'http://groups.google.com/group/cgnjs') Google Group
    li
      a(href: 'http://twitter.com/cgnjs') Twitter

footer Built with&nbsp;
  a(href: 'http://nodejs.org') Node
  |  and
  a(href: 'http://expressjs.com') Express
  a(href: 'http://github.com/teemow/Cologne.js')
    img(id: 'fork', src: 'http://s3.amazonaws.com/github/ribbons/forkme_right_orange_ff7600.png', alt: 'Fork me on GitHub')

