h1= title
p Welcome to #{title} – Javascript Meetup

h2 Next Meetup – 10th of August 2010

ul 
  li "Test-driven Widget Developement" – Jörn (jQuery UI und QUnit) 
  li "Getting started with the Dojo Toolkit" – Thomas 

.footer Build with 
  a(href: 'http://nodejs.org') Node
  |  and
  a(href: 'http://expressjs.com') Express
