header
	h1= title
	p Welcome to #{title} – Javascript Meetup

article
	h2 Next Meetup 2011.09 - 13th of September 2011
	ul
	li Backbone.JS by Manuel Odendahl
	li Common-Node by Oleg Podsechin
	p Doors open at 19:00. Talk starts at 19:30. 


	p Also have a look at the&nbsp;
		a(href= 'https://github.com/teemow/Cologne.js/wiki/Talks') proposed talks
		| &nbsp;on the GitHub wiki and add yours.

	h2 Location
	address
		a(href= 'http://coworkingcologne.posterous.com/') Cowoco
		br
		| Deutz-Mülheimer Straße 129
		br
		| 51063 Köln

	h2 Discuss!
	ul
		li
			a(href= 'https//groups.google.com/group/cgnjs') Mailing List / Google Group
		li
			a(href= 'http://twitter.com/cgnjs') Twitter
	
	h2 Upcoming meetups 
		a(href= 'https://www.google.com/calendar/ical/podoldti665gcdmmt7u72v62fc%40group.calendar.google.com/public/basic.ics') (ical)
	ul
		- dates.forEach(function(date){
			li= date.summary + " - " + date.datestr
		- })

footer Built with&nbsp;
	a(href= 'http://nodejs.org') Node #{nodeversion}
	| &nbsp;and
	a(href= 'http://expressjs.com') Express
	a(href= 'http://github.com/teemow/Cologne.js')
		img(id= 'fork', src= 'http://s3.amazonaws.com/github/ribbons/forkme_right_orange_ff7600.png', alt: 'Fork me on GitHub')

