article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}
audio,
canvas,
video {
  display: inline-block;
}
audio:not([controls]) {
  display: none;
  height: 0;
}
[hidden] {
  display: none;
}
html {
  font-family: sans-serif;
/* 1 */
  -webkit-text-size-adjust: 100%;
/* 2 */
  -ms-text-size-adjust: 100%;
/* 2 */
}
body {
  margin: 0;
}
a:focus {
  outline: thin dotted;
}
a:active,
a:hover {
  outline: 0;
}
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
abbr[title] {
  border-bottom: 1px dotted;
}
b,
strong {
  font-weight: bold;
}
dfn {
  font-style: italic;
}
hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}
mark {
  background: #ff0;
  color: #000;
}
code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  font-size: 1em;
}
pre {
  white-space: pre-wrap;
}
q {
  quotes: "\201C" "\201D" "\2018" "\2019";
}
small {
  font-size: 80%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
img {
  border: 0;
}
svg:not(:root) {
  overflow: hidden;
}
figure {
  margin: 0;
}
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}
legend {
  border: 0;
/* 1 */
  padding: 0;
/* 2 */
}
button,
input,
select,
textarea {
  font-family: inherit;
/* 1 */
  font-size: 100%;
/* 2 */
  margin: 0;
/* 3 */
}
button,
input {
  line-height: normal;
}
button,
select {
  text-transform: none;
}
button,
html input[type="button"],
/* 1 */,
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
/* 2 */
  cursor: pointer;
/* 3 */
}
button[disabled],
html input[disabled] {
  cursor: default;
}
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
/* 1 */
  padding: 0;
/* 2 */
}
input[type="search"] {
  -webkit-appearance: textfield;
/* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
/* 2 */
  box-sizing: content-box;
}
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
textarea {
  overflow: auto;
/* 1 */
  vertical-align: top;
/* 2 */
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
/* apply a natural box layout model to all elements */
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
html {
  font: 0.875em/1.5 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 300;
  text-rendering: optimizeLegibility;
}
body {
  color: #333;
  background: #f8f8f8 url("../images/noise.png");
}
html,
body,
#wrap {
  height: 100%;
}
body > #wrap {
  height: auto;
  min-height: 100%;
}
#main {
  padding-bottom: 130px;
}
h2,
h3 {
  font-family: Georgia, Times, 'Times New Roman', serif;
  font-weight: bold;
  font-style: italic;
  margin-bottom: 0.5em;
}
h2 {
  font-size: 2.3em;
}
h3,
h4 {
  font-size: 1.6em;
}
h4 {
  margin: 0.5em 0;
}
h4 + h5 {
  margin: 0;
}
h5 {
  font-size: 1em;
  margin-bottom: 0;
}
a,
a:link,
a:active {
  text-decoration: none;
  color: #333;
  border-bottom: 1px solid #e9c81f;
}
a:hover {
  background-color: #e9c81f;
}
p {
  margin: 0;
}
p + p {
  margin-top: 1em;
}
iframe {
  border: 1px solid #666;
}
footer {
  position: relative;
  margin-top: -130px;
  height: 130px;
  clear: both;
  overflow: hidden;
  padding: 0.5em 0 2em;
  color: #ddd;
  background: #19160a;
  font-size: 0.85em;
}
footer .right {
  text-align: right;
}
footer a,
footer a:link,
footer a:active,
footer a:hover {
  color: #e9c81f;
}
.clear {
  clear: both;
  overflow: hidden;
}
.left {
  float: left;
  margin-right: 1em;
}
.right {
  float: right;
  margin-left: 1em;
}
.container {
  max-width: 960px;
  max-width: 68.57142857142857rem;
  clear: both;
  overflow: hidden;
  margin: 0 auto;
}
.grid-row {
  clear: both;
  overflow: hidden;
}
.grid-row :first-child {
  margin-left: 0;
}
.grid-1-2 {
  width: 48.75%;
  margin-left: 2.5%;
  float: left;
}
.grid-1-3 {
  width: 31.666666666666668%;
  margin-left: 2.5%;
  float: left;
}
.grid-2-3 {
  width: 64.91666666666667%;
  margin-left: 2.5%;
  float: left;
}
.grid-1-3:first-child,
.grid-1-3:nth-child(4n),
.grid-1-2:nth-child(odd) {
  overflow: hidden;
  clear: both;
  margin-left: 0;
}
header {
  margin-bottom: 2em !important;
}
header h1 {
  float: left;
  margin: 0;
}
header h1 a {
  display: block;
  text-indent: -99em;
  overflow: hidden;
  width: 120px;
  height: 120px;
  background: url("/images/colognejs-logo@2x.png") no-repeat;
  background-size: 120px;
  border-bottom: 0 none !important;
}
header h2 {
  font: bold 1.5em 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-style: normal;
  margin-top: 1.5em;
  margin-left: 140px;
}
header nav {
  margin-top: 2.5em;
  margin-left: 20px;
  float: left;
  text-transform: uppercase;
  font-weight: bold;
}
@media screen and (max-width: 33em) {
  header nav {
    margin-left: 0;
    padding: 1em 0;
    clear: both;
    overflow: hidden;
  }
}
@media screen and (max-width: 37em) {
  header nav {
    margin-top: 1.5em;
  }
}
header nav a:hover {
  background-color: transparent;
}
header ul {
  margin: 0;
  padding: 0;
  clear: both;
  overflow: hidden;
}
header ul li {
  display: block;
  list-style-type: none;
  white-space: nowrap;
  float: left;
  padding: 0 0.5em;
}
header ul li:first-child,
header ul li.first {
  padding-left: 0;
}
header ul li:last-child {
  padding-right: 0;
}
header ul li.last {
  padding-right: 0;
}
header ul a,
header ul a:link,
header ul a:active,
header ul a:hover,
header ul a:visited {
  text-decoration: none;
  color: #666;
}
header ul a:hover {
  border-bottom: 2px solid #666;
}
.grid-row {
  margin-bottom: 3em;
}
.next-meetup {
  margin-bottom: 1em;
}
.next-meetup h2 {
  margin-bottom: 0;
}
.talk-slots h3,
.talk-slots h4,
.talk-slots h5,
.talk-slots p {
  padding: 0 8px;
}
.talk-slots p {
  margin-top: 1em;
}
.talk-slots h3 {
  background: #19160a;
  color: #fff;
  padding: 0 8px;
}
.slot-open {
  color: #777;
}
.slot-open h3 {
  background: #efd75b;
  color: #333;
}
.slot-beerjs {
  background: url("../images/beer-js@2x.png") center 125px no-repeat;
  background-size: 50%;
  height: 380px;
}
@media screen and (max-width: 42em) {
  .slot-beerjs {
    background-image: none;
    height: auto;
  }
}
.talk-list h1 {
  margin: 0;
}
@media screen and (max-width: 42em) {
  .talk-list h1 {
    display: inline-block;
  }
}
@media screen and (min-width: 42em) {
  .talk-list h1 {
    text-align: right;
  }
}
.talk-list h1 .anchor {
  font-size: 0.9em;
  color: #ccc !important;
  text-decoration: none;
  margin: 0 0.5em;
  vertical-align: top;
  font-weight: normal;
  visibility: hidden;
}
@media screen and (max-width: 42em) {
  .talk-list h1 .anchor {
    float: right;
  }
}
.talk-list h1:hover .anchor {
  visibility: visible;
}
.talk-list h2 {
  margin-top: 0.371428571em;
  margin-bottom: 0;
  font-size: 1.428571429em;
  line-height: 1.5;
}
.talk-list h3 {
  font-size: 1em;
  line-height: 1.5;
  font-weight: normal;
  margin-top: 0;
}
.talk-list article {
  margin-bottom: 1em;
}
.talk-list ul {
  clear: both;
  overflow: hidden;
  padding: 0;
  margin: 0;
}
.talk-list li {
  display: block;
  list-style-type: none;
  float: left;
  margin: 1em 0.5em 1em 0;
}
.talk-list li:before {
  content: "|";
  margin-right: 0.5em;
}
.talk-list li:first-child:before {
  content: "";
  margin-right: 0;
}
/* -- Media Queries -------------------------------------------------------- */
@media screen and (min-width: 33em) {
  *[role='main'] {
    min-height: 15em;
  }
}
@media screen and (max-width: 62em) {
  #wrap {
    padding-left: 1em;
    padding-right: 1em;
  }
  #main {
    padding-bottom: 60px;
  }
  footer {
    padding-top: 1.2em;
    margin-top: -60px;
    height: 60px;
  }
  footer h3,
  footer img {
    display: none;
  }
  footer .right {
    text-align: left;
    float: none;
  }
}
@media screen and (max-width: 42em) {
  #wrap {
    padding-left: 1em;
    padding-right: 1em;
  }
  .grid-1-2,
  .grid-1-3,
  .grid-2-3 {
    margin: 0 0 1em 0;
    float: none;
    width: 100%;
  }
  .talk-slots .grid-1-3 {
    min-height: 0;
  }
}
@media screen and (max-width: 32em) {
  body > #wrap {
    min-height: auto;
  }
}
