.talk-list {

  .grid-row {
    @include leader;
  }

  h1 {
    @include adjust-font-size-to(24px);

    @media screen and (min-width: 42em) {
        text-align: right;
    }
  }

  h2 {
    margin-top: 0.371428571em;
    margin-bottom: 0;
    font-size: 1.428571429em;
    line-height: 1.5;
  }

  h3 {
    font-size: 1em;
    line-height: 1.5;
    font-weight: normal;
    margin: 0;
  }

  article {
    @include trailer(2);
  }

  ul {
    clear: both;
    overflow: hidden;
    padding: 0;
  }

  li {
    list-style-type: none;
    float: left;
    margin-right: 0.5em;
  }

  li:before {
    content: "|" ;
    margin-right: 0.5em;
  }

  li:first-child:before {
    content: "" ;
    margin-right: 0;
  }
}