article(class="grid-1-3 slot-open")
  h1 Free slot
  p You’re doing something interesting with JavaScript more people should know about? Then you should give a talk!
  p Just drop us a line.
  p Never held a talk before, or not sure if its worth sharing? No problem, we can help getting you started.
